<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wiki.primo.generator.mybatis.plus.cae.mapper.DistrictDetailPlanMapper">
	<!--开启二级缓存-->
	<cache/>

	<resultMap id="BaseResultMap" type="wiki.primo.generator.mybatis.plus.cae.entity.DistrictDetailPlan">
		<id column="id" property="id" />
		<result column="investment_money" property="investmentMoney" />
		<result column="land_acquisition_and_demolition_money" property="landAcquisitionAndDemolitionMoney" />
		<result column="building_projects_money" property="buildingProjectsMoney" />
		<result column="equipment_purchase_money" property="equipmentPurchaseMoney" />
		<result column="other_money" property="otherMoney" />
		<result column="quarterly_progress_details" property="quarterlyProgressDetails" />
		<result column="create_time" property="createTime" />
		<result column="creator" property="creator" />
		<result column="update_time" property="updateTime" />
		<result column="updater" property="updater" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        `id`, `investment_money` AS `investmentMoney`, `land_acquisition_and_demolition_money` AS `landAcquisitionAndDemolitionMoney`, `building_projects_money` AS `buildingProjectsMoney`, `equipment_purchase_money` AS `equipmentPurchaseMoney`, `other_money` AS `otherMoney`, `quarterly_progress_details` AS `quarterlyProgressDetails`, `create_time` AS `createTime`, `creator`, `update_time` AS `updateTime`, `updater`
    </sql>
</mapper>
