<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wiki.primo.generator.mybatis.plus.cae.mapper.LandSellInformationMapper">
	<!--开启二级缓存-->
	<cache/>

	<resultMap id="BaseResultMap" type="wiki.primo.generator.mybatis.plus.cae.entity.LandSellInformation">
		<id column="id" property="id" />
		<result column="company_name" property="companyName" />
		<result column="deal_time" property="dealTime" />
		<result column="deal_money" property="dealMoney" />
		<result column="certificate_number" property="certificateNumber" />
		<result column="land_position" property="landPosition" />
		<result column="land_area" property="landArea" />
		<result column="land_purpose" property="landPurpose" />
		<result column="land_level" property="landLevel" />
		<result column="land_nature" property="landNature" />
		<result column="approval_time" property="approvalTime" />
		<result column="termination_time" property="terminationTime" />
		<result column="remarks" property="remarks" />
		<result column="create_time" property="createTime" />
		<result column="creator" property="creator" />
		<result column="update_time" property="updateTime" />
		<result column="updater" property="updater" />
		<result column="data_location" property="dataLocation" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        `id`, `company_name` AS `companyName`, `deal_time` AS `dealTime`, `deal_money` AS `dealMoney`, `certificate_number` AS `certificateNumber`, `land_position` AS `landPosition`, `land_area` AS `landArea`, `land_purpose` AS `landPurpose`, `land_level` AS `landLevel`, `land_nature` AS `landNature`, `approval_time` AS `approvalTime`, `termination_time` AS `terminationTime`, `remarks`, `create_time` AS `createTime`, `creator`, `update_time` AS `updateTime`, `updater`, `data_location` AS `dataLocation`
    </sql>
</mapper>
