<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wiki.primo.generator.mybatis.plus.cae.mapper.ProjectInitiationInformationMapper">
	<!--开启二级缓存-->
	<cache/>

	<resultMap id="BaseResultMap" type="wiki.primo.generator.mybatis.plus.cae.entity.ProjectInitiationInformation">
		<id column="id" property="id" />
		<result column="build_company" property="buildCompany" />
		<result column="project_name" property="projectName" />
		<result column="record_number" property="recordNumber" />
		<result column="project_scale" property="projectScale" />
		<result column="expect_investment" property="expectInvestment" />
		<result column="funding_source" property="fundingSource" />
		<result column="building_year" property="buildingYear" />
		<result column="project_position" property="projectPosition" />
		<result column="remarks" property="remarks" />
		<result column="create_time" property="createTime" />
		<result column="creator" property="creator" />
		<result column="update_time" property="updateTime" />
		<result column="updater" property="updater" />
		<result column="data_location" property="dataLocation" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        `id`, `build_company` AS `buildCompany`, `project_name` AS `projectName`, `record_number` AS `recordNumber`, `project_scale` AS `projectScale`, `expect_investment` AS `expectInvestment`, `funding_source` AS `fundingSource`, `building_year` AS `buildingYear`, `project_position` AS `projectPosition`, `remarks`, `create_time` AS `createTime`, `creator`, `update_time` AS `updateTime`, `updater`, `data_location` AS `dataLocation`
    </sql>
</mapper>
